@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Infected Primate Blvd.<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.1234
</address>

<address>
    <strong>Prime8 Support:</strong>   <a href="chiefchimp@zombiemonkeystudio.com">Team ZM</a><br />
</address>